/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho e navbar */
header {
    background-color: #0077C0;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-left {

    margin-left: 100px;
}

.navbar-right {

    margin-right: 100px;
}


/* Estilos do campo de busca */
.search {
    width: 600px;
    height: 45px;
    /* Defina a altura desejada, por exemplo, 100 pixels */
    padding: 8px;
    border: none;
    border-radius: 30px;
}

/* Estilos do ícone de login */
.login-icon {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.login-icon svg {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

/* Estilos do Painel do Cliente */
.client-panel {
    text-align: left;
    font-size: 12px;
}

.client-panel h1 {
    font-size: 25px;
    margin-bottom: 1px;
    color: #ffffff;
}

.client-panel h2 {
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
    font-family: Arial, sans-serif;
}

.client-panel .login-link {
    text-decoration: none; /* Remove o sublinhado padrão do link */
    color: #ffffff; /* Define a cor do texto para azul (você pode escolher outra cor) */
    font-weight: bold; /* Define a fonte em negrito (opcional) */
    font-size: 25px; /* Define o tamanho da fonte (opcional) */
    /* Outros estilos que desejar aplicar */
}








/* Estilos para a sub-navbar */
.sub-navbar {
    background-color: #053F63;
    /* Cor de fundo da sub-navbar */
    color: #fff;
    /* Cor do texto na sub-navbar */
    display: flex;
    /* Exibe os elementos em linha */
    align-items: center;
    /* Alinha os elementos verticalmente */
    padding: 10px 20px;
    /* Espaçamento interno */
}

/* Estilos para as seções da sub-navbar */
.sub-navbar div {
    display: flex;
    /* Exibe os elementos em linha */
    align-items: center;
    /* Alinha os elementos verticalmente */
    margin-right: 20px;
    /* Espaçamento à direita entre os elementos */
}

.sub-navbar .icon {
    width: 24px;
    /* Largura do ícone */
    height: 24px;
    /* Altura do ícone */
    margin-right: 20px;

}

.sub-navbar .text {
    font-weight: bold;
    /* Peso da fonte */
}

.sub-navbar span {

    margin-left: 10px;
}

.sub-navbar span {

    margin-left: 10px;
}

/* Edita texto categoria*/

.sub-navbar .center-section {

    color: #fff;
    font-size: 20px;
}

.sub-navbar .right-section {

    font-size: 20px;
}




/* Estilo para a primeira linha */
.first-line {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 1px;
}

/* Estilo para a segunda linha */
.second-line {
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    /* Define o peso da fonte como mais leve */
    font-style: italic;
    /* Define a fonte como itálica */


}


/*IMAGEM DE CAPA*/

.image-container {
    width: 100%;
    /* A largura da imagem ocupa 100% da largura da página */
    height: auto;
    /* A altura é ajustada automaticamente para manter a proporção original da imagem */
    overflow: hidden;
    /* Garante que a imagem não ultrapasse os limites do contêiner */
}

.image-container img {
    width: 100%;
    /* A imagem dentro do contêiner também ocupa 100% da largura do contêiner */
    height: auto;
    /* A altura é ajustada automaticamente para manter a proporção original da imagem */
}


/* Estilos para o container principal */
.container2 {
    width: 100%;
    height: 500px;
    /* Isso garante que o container ocupe toda a altura da janela de visualização (viewport) */
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
}



/* Estilos para a seção inferior (imagem centralizada) */
.bottom-section {
    flex: 1;
    /* Isso faz com que a seção inferior ocupe todo o espaço restante vertical */
    display: flex;
    justify-content: center;
    /* Alinhar o conteúdo horizontalmente ao centro */
    align-items: center;
    /* Alinhar o conteúdo verticalmente ao centro */
    background-image: url('imagem.jpg');
    /* Imagem de fundo da seção inferior */
    background-size: cover;
    /* Faz com que a imagem de fundo cubra todo o espaço */
    background-position: center center;
    /* Centraliza a imagem de fundo horizontal e verticalmente */
    background-repeat: no-repeat;
    /* Evita a repetição da imagem de fundo */
    box-sizing: border-box;
}

/* Estilo para a primeira linha */
.first-line1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 1px;
    padding-left: 40px;
}

/* Estilo para a segunda linha */
.second-line2 {
    font-size: 40px;
    color: #aa3f3f;
    font-weight: 300;
    /* Define o peso da fonte como mais leve */
    font-style: italic;
    /* Define a fonte como itálica */
    padding-left: 40px;

}


/* Estilos para a coluna */
.column {
    display: flex;
    flex-direction: column;
    background-color: #a4a4a4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------------------*/

/* 3 ITENS DE SERVIÇO

/* Estilos para a coluna */

.container-pai{

    background-color: #ffffff;
    display: flex;
    flex-direction: row; /* Isso faz com que as colunas fiquem na horizontal */
    justify-content: space-between; /* Isso distribui as colunas uniformemente na horizontal */
    margin-top: 0PX;
    margin-left: 200PX;
    margin-right: 200PX;
}

.column1 {
    flex-direction: column;
    margin-top: 200px;
    /* Centraliza o conteúdo horizontalmente */
    text-align: center;
   
    /* Alinha o texto ao centro */
}

/* Estilos para a imagem */
.image img {
    width: 100%;
    max-width: 300px;
    /* Ajuste a largura máxima conforme necessário */
    height: auto;
    margin-bottom: 10px;
    /* Espaço entre a imagem e o conteúdo */
}



.conteiner3{

    text-align: left;
    margin-bottom: 10px;
    margin-left: 2px;
}

/* Estilos para o título */
.conteiner3 h2 {
    font-size: 25px;
    font-weight: bold;
   
    /* Espaço abaixo do título */
    
}

.conteiner3 span {
    font-size: 17px;
    font-weight: 100px;
 
}





/* Estilos para o container4 */
.container4 {
    background-color: #0077C0;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.container4 h3 {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}

/* Estilos para a linha branca */
.white-line {
    border: 1px solid white;
    margin: 10px 0;

}

.container4 span {

    color: #ffffff;
}

/* Estilos para o container com bordas arredondadas (container5) */
.rounded-container5 {
    border-radius: 0 0 20px 20px;
    background-color: #053F63;
    padding: 20px;
    margin: 0;
    margin-top: 0px;
    /* Remove o espaço superior */
    width: 100%;
}

.rounded-container5 h4 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}

/*-------------------------------------------------------------------*/


/*CONTAINER 2*/

.column2 {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    /* Centraliza o conteúdo horizontalmente */
    text-align: center;
   
    /* Alinha o texto ao centro */
}

/* Estilos para a imagem */
.image img {
    width: 100%;
    max-width: 300px;
    /* Ajuste a largura máxima conforme necessário */
    height: auto;
    margin-bottom: 10px;
    /* Espaço entre a imagem e o conteúdo */
}



.conteiner6{

    text-align: left;
    margin-bottom: 10px;
    margin-left: 2px;
}

/* Estilos para o título */
.conteiner6 h2 {
    font-size: 25px;
    font-weight: bold;
   
    /* Espaço abaixo do título */
    
}

.conteiner6 span {
    font-size: 17px;
    font-weight: 100px;
 
}

/* Estilos para o container7 */
.container7 {
    background-color: #0077C0;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.container7 h3 {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}

/* Estilos para a linha branca */
.white-line {
    border: 1px solid white;
    margin: 10px 0;

}

.container7 span {

    color: #ffffff;
}

/* Estilos para o container com bordas arredondadas (container5) */
.rounded-container8 {
    border-radius: 0 0 20px 20px;
    background-color: #053F63;
    padding: 20px;
    margin: 0;
    margin-top: 0px;
    /* Remove o espaço superior */
    width: 100%;
}

.rounded-container8 h4 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}

/*-------------------------------------------------------------------*/

/*CONTAINER 3*/

.column3 {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    /* Centraliza o conteúdo horizontalmente */
    text-align: center;
   
    /* Alinha o texto ao centro */
}

/* Estilos para a imagem */
.image img {
    width: 100%;
    max-width: 300px;
    /* Ajuste a largura máxima conforme necessário */
    height: auto;
    margin-bottom: 10px;
    /* Espaço entre a imagem e o conteúdo */
}



.conteiner9{

    text-align: left;
    margin-bottom: 10px;
    margin-left: 2px;
}

/* Estilos para o título */
.conteiner9 h2 {
    font-size: 25px;
    font-weight: bold;
   
    /* Espaço abaixo do título */
    
}

.conteiner9 span {
    font-size: 17px;
    font-weight: 100px;
 
}

/* Estilos para o container7 */
.container10 {
    background-color: #0077C0;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.container10 h3 {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}

/* Estilos para a linha branca */
.white-line {
    border: 1px solid white;
    margin: 10px 0;

}

.container10 span {

    color: #ffffff;
}

/* Estilos para o container com bordas arredondadas (container5) */
.rounded-container11 {
    border-radius: 0 0 20px 20px;
    background-color: #053F63;
    padding: 20px;
    margin: 0;
    margin-top: 0px;
    /* Remove o espaço superior */
    width: 100%;
}

.rounded-container11 h4 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}





/*-------------------------------------------------------------------*/

/*CONTAINER 1 PRDUTOS*/

.column4 {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    /* Centraliza o conteúdo horizontalmente */
    text-align: center;
   
    /* Alinha o texto ao centro */
}

/* Estilos para a imagem */
.image img {
    width: 100%;
    max-width: 300px;
    /* Ajuste a largura máxima conforme necessário */
    height: auto;
    margin-bottom: 10px;
    /* Espaço entre a imagem e o conteúdo */
}



.conteiner12{

    text-align: left;
    margin-bottom: 10px;
    margin-left: 2px;
}

/* Estilos para o título */
.conteiner12 h2 {
    font-size: 25px;
    font-weight: bold;
   
    /* Espaço abaixo do título */
    
}

.conteiner12 span {
    font-size: 17px;
    font-weight: 100px;
 
}

/* Estilos para o container7 */
.container13 {
    background-color: #0077C0;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.container13 h3 {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}

/* Estilos para a linha branca */
.white-line {
    border: 1px solid white;
    margin: 10px 0;

}

.container13 span {

    color: #ffffff;
}

/* Estilos para o container com bordas arredondadas (container5) */
.rounded-container14 {
    border-radius: 0 0 20px 20px;
    background-color: #053F63;
    padding: 20px;
    margin: 0;
    margin-top: 0px;
    /* Remove o espaço superior */
    width: 100%;
}

.rounded-container14 h4 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}


/*----------------------------------------------------------------*/

/*-- RODA PÉ --*/

/* Estilos para o rodapé */

.rodape {
    background-color: #022e49;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 90px;
}

/* Estilos para o lado esquerdo do rodapé (logo e descrição) */
.rodape .esquerda {
    flex: 1;
    margin-left: 50px;
    margin-top: 30px;
}

/* Estilos para o logo da empresa */
.rodape .esquerda img {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para a descrição da empresa */
.rodape .esquerda p {
    font-size: 15px;
}

/* Estilos para o lado direito do rodapé (menu, endereço e redes sociais) */
.rodape .direita {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Estilos para o menu */
.rodape .menu ul {
    list-style: none;
    padding: 0;
    margin-right: 150px;
    margin-top: 0px;
}

.rodape .menu ul li {
    margin-bottom: 5px;
}

.rodape .menu h4 {

    font-size: 20px;
}

/* Estilos para o título do endereço */
.rodape .endereco h4 {
    font-size: 20px;
}

/* Estilos para o endereço */
.rodape .endereco p {
    font-size: 15px;
    margin: 0;
}

/* Estilos para o container endereço */

.rodape .endereco{

    margin-right: 200px;
}

/* Estilos para os ícones de redes sociais */
.rodape .redes-sociais {
    margin-left: 200px;
    justify-content: space-between;
}

.rodape .redes-sociais svg {
    width: 24px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-left: 10px;
    
}


.rodape .container-dir{

    display: flex;
    flex-direction: row; /* Isso faz com que as colunas fiquem na horizontal */
    justify-content: space-between; /* Isso distribui as colunas uniformemente na horizontal */
    margin-top: 20px;
    margin-bottom: 100px;

}



/* Estilos para o "sub roda-pé" */
.sub-footer {
    background-color: #021725; /* Cor de fundo do sub roda-pé */
    color: #fff; /* Cor do texto no sub roda-pé */
    text-align: center; /* Alinhamento do texto no centro */
    padding: 20px 0; /* Espaçamento interno */
    
  }
  
  .sub-footer-content {
    max-width: 1200px; /* Largura máxima do conteúdo do sub roda-pé */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
  }



 /*-------------CONTAINER PRINCIPAL------------- */

  .painel-pai {

    display: flex;
    background-color: #ffffff;
    margin-right: 0%;
    padding-right: 200px;
   
 }

  
  /* Barra lateral */

.sidebar {
    height: 100%;
    width: 25%;
    position: left;
    background-color: #021725;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 90px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 800px;

}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    font-weight: 300;
}

.sidebar .titulo-1 {

    font-weight:700;
    padding-top: 20px;
    margin-bottom: 10px;
    
}

.sidebar .titulo-2 {

    font-weight:700;
    padding-top: 10px;
    margin-bottom: 10px;
    
}

.sidebar .titulo-3 {

    font-weight:700;
    padding-top: 10px;
    margin-bottom: 10px;
    
}

.sidebar .titulo-4 {

    font-weight:700;
    padding-top: 10px;
    margin-bottom: 10px;
    
}
/*---------------------------------------------------------------------------------------*/


 /*PAINEL PRINCIPAL */

 .painel-pai .titulo-h1 h1 {
    color: #000000; 
 
     margin-top: 30px;
     margin-left: 20px;
     margin-bottom: 20px;
     font-size: 40px;
   }
  

 .painel-pai .painel-principal{

    background-color: #ffffff;
    display: flex;
    margin-right: 0px;
    margin-left: 50px;
    margin-top: 0px;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 0px;
    height: 0%;   
 }



  /*PAINEL PRINCIPAL ITEM 1*/

  .painel-pai .painel-principal .container-1{

    display: flex;
    background-color: #41CF3A;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 250px; /* Define a largura como 200 pixels */
    height: 100px; /* Define a altura como 100 pixels */
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 10px;
    

  }


  .painel-pai .painel-principal .container-1 .bi-cart-check-fill {
    
    
  fill: #ffffff; /* Cor vermelha */
 margin-left: 15px;
 margin-top: 10px;
 

  
 }

 .painel-pai .painel-principal .container-1 h6 {

   margin-top: 10px;
   margin-left: 15px;
   color: #fff;
   
 }


 .painel-pai .painel-principal .container-1 h1 {

    margin-top: 45px;
    margin-left: 30px;
    color: #fff;
    
  }



  /*PAINEL PRINCIPAL ITEM 2*/

  .painel-pai .painel-principal .container-2{

    display: flex;
    background-color: #FFB300;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 250px; /* Define a largura como 200 pixels */
    height: 100px; /* Define a altura como 100 pixels */
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;

  }


  .painel-pai .painel-principal .container-2 .bi-cart-check-fill {
    
    
  fill: #ffffff; /* Cor vermelha */
 margin-left: 15px;
 margin-top: 10px;
 

  
 }

 .painel-pai .painel-principal .container-2 h6 {

   margin-top: 10px;
   margin-left: 15px;
   color: #fff;
   
 }


 .painel-pai .painel-principal .container-2 h1 {

    margin-top: 45px;
    margin-left: 30px;
    color: #fff;
    
  }



  /*PAINEL PRINCIPAL ITEM 3*/

  .painel-pai .painel-principal .container-3{

    display: flex;
    background-color: #E62027;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 250px; /* Define a largura como 200 pixels */
    height: 100px; /* Define a altura como 100 pixels */
    border-radius: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
   
    

  }


  .painel-pai .painel-principal .container-3 .bi-cart-check-fill {
    
    
  fill: #ffffff; /* Cor vermelha */
 margin-left: 15px;
 margin-top: 10px;
 

  
 }

 .painel-pai .painel-principal .container-3 h6 {

   margin-top: 10px;
   margin-left: 15px;
   color: #fff;
   
 }


 .painel-pai .painel-principal .container-3 h1 {

    margin-top: 45px;
    margin-left: 30px;
    color: #fff;
    
  }


  .painel-pai .coluna-central{

    display: flex;
    margin-top: 20px;
    float: left;
  }


  .painel-pai .item-central-pai{

    background-color: #cccccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display:flex;
    margin-top: 350px;
    margin-right: 50px;
    margin-left: -100%;
    margin-bottom: 100px;
    padding-bottom: 30px;
    border-radius: 20px;
  
   
  }

  /*--------------------------------*/

  /*----ESTILO TEXTO TITULO------*/

  .top-section-2 {
    font-size: 40px;
    color: #000000;
    font-weight: 300;
    /* Define o peso da fonte como mais leve */
    font-style: italic;
    /* Define a fonte como itálica */
    padding-left: 40px;
}

.top-section-2 .first-line1{

    margin-bottom: -60px;
}


.top-section-2 .second-line2{

    margin-bottom: -60px;
    margin-top: 100px;
    color: #000000;

}





/*CONTAINER 1*/

.item-central-pai .column3 {
    flex-direction: column;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    /* Centraliza o conteúdo horizontalmente */
    text-align: center;
    padding-right: 70px;
    padding-left: 100px;
   
    /* Alinha o texto ao centro */
}

/* Estilos para a imagem */
.image img {
    width: 100%;
    max-width: 300px;
    /* Ajuste a largura máxima conforme necessário */
    height: auto;
    margin-bottom: 10px;
    /* Espaço entre a imagem e o conteúdo */
}



.conteiner3{

    text-align: left;
    margin-bottom: 10px;
    margin-left: 2px;
}

/* Estilos para o título */
.conteiner3 h2 {
    font-size: 25px;
    font-weight: bold;
   
    /* Espaço abaixo do título */
    
}

.conteiner3 span {
    font-size: 17px;
    font-weight: 100px;
 
}





/* Estilos para o container4 */
.container4 {
    background-color: #0077C0;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.container4 h3 {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}

/* Estilos para a linha branca */
.white-line {
    border: 1px solid white;
    margin: 10px 0;

}

.container4 span {

    color: #ffffff;
}

/* Estilos para o container com bordas arredondadas (container5) */
.rounded-container5 {
    border-radius: 0 0 20px 20px;
    background-color: #053F63;
    padding: 20px;
    margin: 0;
    margin-top: 0px;
    /* Remove o espaço superior */
    width: 100%;
}

.rounded-container5 h4 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}








/*CONTAINER 2*/

.item-central-pai .column4 {
    flex-direction: column;
    margin-top: 50px;
    margin-right: 300px;
    /* Centraliza o conteúdo horizontalmente */
    text-align: center;
    padding-right: -800px;
    margin-right: 100px;
    margin-left: 30px;
  
   
    /* Alinha o texto ao centro */
}

/* Estilos para a imagem */
.image img {
    width: 100%;
    max-width: 300px;
    /* Ajuste a largura máxima conforme necessário */
    height: auto;
    margin-bottom: 10px;
    /* Espaço entre a imagem e o conteúdo */
}



.conteiner3{

    text-align: left;
    margin-bottom: 10px;
    margin-left: 2px;
}

/* Estilos para o título */
.conteiner3 h2 {
    font-size: 25px;
    font-weight: bold;
   
    /* Espaço abaixo do título */
    
}

.conteiner3 span {
    font-size: 17px;
    font-weight: 100px;
 
}





/* Estilos para o container4 */
.container4 {
    background-color: #0077C0;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.container4 h3 {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}

/* Estilos para a linha branca */
.white-line {
    border: 1px solid white;
    margin: 10px 0;

}

.container4 span {

    color: #ffffff;
}

/* Estilos para o container com bordas arredondadas (container5) */
.rounded-container5 {
    border-radius: 0 0 20px 20px;
    background-color: #053F63;
    padding: 20px;
    margin: 0;
    margin-top: 0px;
    /* Remove o espaço superior */
    width: 100%;
}

.rounded-container5 h4 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
    /* Espaço abaixo do título */
}


.icon-em.troca svg {
    fill: #00e308; /* Cor vermelha como exemplo */
    width: 80px; /* Largura personalizada em pixels */
    height: 80px; /* Altura personalizada em pixels */
    margin-top: 400px;
    margin-right: 40px;
  }

  .titulo-h2 {
    display: flex;
margin-top: 250px;
margin-left: -900px;
padding-left: -1000px;
margin-right: 30px;
width: 100%; /* Largura personalizada em pixels */


  }
